// ***********************************
// VARIABLES
// ***********************************

// Media Queries
$media-lg: 1200px;
$media-md: 992px;
$media-sm: 768px;
$media-xs: 480px;

// Container Sizes
$container-xs: 450px; 
$container-sm: 720px; 
$container-md: 960px; 
$container-lg: 1000px;

// Offsets
$gutter: 15px;


// Colours
 //$primary-color:
 //$secondary-color; 