<div class="description">
    <div class="container">
        <div class="description__wrapper">
            <h3 class="description__title">устраняет сухой кашель</h3>
            <p class="description__text">Значимость этих проблем настолько очевидна, что начало повседневной работы
                по формированию позиции позволяет оценить значение позиций, занимаемых участниками в отношении
                поставленных задач.
            </p>
            <a href="#" class="description__link">ПОДРОБНЕЕ</a>
            <div class="description__pagination">
                <div class="description__paginationSign"></div>
                <div class="description__paginationSign"></div>
                <div class="description__paginationSign"></div>
                <div class="description__paginationSign"></div>
            </div>
        </div>
    </div>
</div>