<div class="headline">
    <div class="container">
        <div class="headline__wrapper">
            <h1 class="headline__title">Helpex
                <span class="headline__titleSign">&reg;</span>
            </h1>
            <p class="headline__desc">эффективно бореться с симптомами простуды</p>
        </div>
    </div>
</div>
