<div class="header">
    <div class="container">
        <div class="header__wrapper">
            <h4 class="header__logo">
                Helpex
                <span class="header__logoSign">&reg;</span>
            </h4>
            <div class="header__menu">
                <div class="header__menu_line1"></div>
                <div class="header__menu_line2"></div>
                <div class="header__menu_line3"></div>
            </div>
        </div>
    </div>
</div>