<div class="slider" id="slider">
    <div class="slider__wrapper _wrapper">
        <div class="slides _slides">
            <div class="slides__item _item" data-area-color="green">
                <div class="slides__item__inner">
                    <div class="slides__item__area _area"></div>
                    <div class="slides__item__content _content">SLIDE NUMBER 1</div>
                </div>
            </div>
            <div class="slides__item _item" data-area-color="#658022">
                <div class="slides__item__inner">
                    <div class="slides__item__area _area"></div>
                    <div class="slides__item__content _content">SLIDE NUMBER 2</div>
                </div>
            </div>
            <div class="slides__item _item" data-area-color="#802e56">
                <div class="slides__item__inner">
                    <div class="slides__item__area _area"></div>
                    <div class="slides__item__content _content">SLIDE NUMBER 3</div>
                </div>
            </div>
            <div class="slides__item _item" data-area-color="#3e2d80">
                <div class="slides__item__inner">
                    <div class="slides__item__area _area"></div>
                    <div class="slides__item__content _content">SLIDE NUMBER 4</div>
                </div>
            </div>
            <div class="slides__item _item" data-area-color="#807e23">
                <div class="slides__item__inner">
                    <div class="slides__item__area _area"></div>
                    <div class="slides__item__content _content">SLIDE NUMBER 5</div>
                </div>
            </div>
        </div>
        <div class="slider__circle"></div>
    </div>

    <div class="slider__buttons">
        <button type="button" class="slider__leftbtn"><img src="../images/arrow-left.png" alt="left arrow"> </button>
        <button type="button" class="slider__rightbtn"><img src="../images/arrow-right.png" alt="left right"> </button>
    </div>
    <div class="slider__description"></div>
    <div class="slider__pagination"></div>
</div>