.description {

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
  }
  &__title{
    text-transform: uppercase;
    font-weight: 700;
    color: rgba(2, 153, 138, 255);
    font-size: 22px;
  }

  &__text{
    padding: 10px 80px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    color: rgba(69, 69, 69, 255);
    line-height: 1.7;
  }

  &__link{
    position: relative;
    font-size: 16px;
    font-weight: 700;
    color: rgba(2, 153, 138, 255);
    text-decoration: none;

    &:after{
      position: absolute;
      content: '';
      height: 2px;
      width: 102px;
      background: rgba(2, 153, 138, 255);
      top: 17px;
      left: 1px;
    }
  }

  &__pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 30px;
  }


  &__paginationSign{
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(2, 153, 138, 255);
  }

}