.header {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
  }
  &__logo{
    font-weight: 900;
    font-size:40px;
    position:relative;
    color: rgba(2, 153, 138, 255);
  }

  &__logoSign {
    position: absolute;
    top: 5px;
    right: -15px;
    color: rgba(2, 153, 138, 255);
    font-weight: 400;
    font-size: 16px;
  }

    &__menu {
      position: relative;
    }
      &__menu_line1,&__menu_line2,&__menu_line3{
        top:-5px;
        right:0;
        border:1px solid #484848;
        border-radius: 10px;
        width: 40px;
        position: absolute;
      }
  &__menu_line2{
    top:2px;
    right:0;
    width: 30px;
  }
  &__menu_line3{
    top:10px;
    right:0;
    width: 30px;
  }


}