.headline {
  &__wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 75px;
  }

  &__title {
    font-weight: 900;
    font-size: 60px;
    position: relative;
    color: rgba(69, 69, 69, 255);
  }

  &__titleSign {
    position: absolute;
    top: 10px;
    right: -10px;
    color: rgba(69, 69, 69, 255);
    font-weight: 400;
    font-size: 16px;
  }

  &__desc{
    font-weight: 400;
    font-size:26px;
    color: rgba(69, 69, 69, 255);
  }
}