$container-size: 700px;
$item-size: 170px;
$transform-transition: 700ms;

.slider {
  overflow: hidden;
  &__wrapper {
    position: relative;
    perspective: 700px;
    margin: -200px auto;
    width: $container-size;
    height: $container-size;
  }

  &__circle {
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 50%;
    border: 8px solid #ccc;
  }

  &__circle, .slides {
    transform: rotateX(45deg) scaleY(0.3);
    width: 100%;
    height: 100%;
  }

  &__circle {
    z-index: 1;
  }
  .slides {
    z-index: 2;
  }

  &__leftbtn,&__rightbtn{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #02998a;
    border: none;
    text-decoration: none;
  }
  &__leftbtn {
    top:420px;
    left:30px;
  }
  &__rightbtn{
    top:420px;
    right:30px;
  }



}

.slides {
  position: relative;
  margin:-200px 0;

  &__item {
    position: absolute;

    top: 50%;
    left: 0;

    width: 100%;
    height: 100%;

    transform-origin: 50% 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &__inner {
      position: relative;
      width: $item-size;
      height: $item-size;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__area {
      width: 100%;
      height: 100%;

      position: absolute;
      top: 0;
      left: 0;

      border-radius: 50%;
    }

    &, &__content {
      transition: $transform-transition transform ease-in-out;
    }
  }


}