<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- favicons -->
		<link rel="shortcut icon" 	 href="images/favicon/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" href="images/favicon/apple-touch-icon.png">

		<title>SLIDER</title>
		<link rel="stylesheet" href="css/styles.css">
		<link href="http://uk.allfont.net/allfont.css?fonts=avantgardectt-bold" rel="stylesheet" type="text/css" />
	</head>
	<body>
		<div class="main-layout">
			{% include "templates/header.html" %}
				{% include "templates/headline.html" %}
				{% include "templates/slider.html" %}
				{% include "templates/description.html" %}
			{% include "templates/footer.html" %}
		</div>
		<script src='js/main.js'></script>
	</body>
</html>
